# Evaluation Background Job settings
BACKGROUND_EVAL_MATCHES=10
EVALUATION_UPDATE_SHEET=true
EVALUATION_PARALLEL_WORKERS=4
EVALUATION_ENABLE_GIF=0
EVALUATION_TIMING_LOGS=1

# Google Drive / Sheets credentials (now located in secrets/ directory)
LEADERBOARD_CREDENTIALS_FILE=secrets/service_account_credentials.json
LEADERBOARD_SPREADSHEET_ID=1caRS0zqKovKqsL5ozzqNAtSWhseTVBT1LNBr0AVDrBE
LEADERBOARD_SHEET_RANGE='Leaderboard!A1'
DRIVE_FOLDER_ID=1FBNTDpOJh_eMOIoe18in_e1myBQuUm0i
DRIVE_OAUTH_CLIENT_SECRETS=secrets/client_secrets.json
DRIVE_OAUTH_TOKEN_FILE=secrets/token.json

# Timeout settings (in seconds)
EVALUATION_STARTUP_TIMEOUT_S=20

# Registration App config
REGISTRATION_WEBHOOK_AUTH_TOKEN=4c376ba89b8b8ade3626cb84252f2e35e1c02b2b31c70b630c03345ce4917f57
REGISTRATION_PORT=5000

# Important Links (for reference only, uncomment to use locally if needed)
# REGISTRATION_WEBHOOK_URL=https://arguable-harpist-false.ngrok-free.dev/register
